<style>

</style>
<div class="contact-location">
<div class="container-fluid">
<div class="row justify-content-center">
<div class="col-lg-12">
<div class="map-div">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14238.018792959567!2d80.996834!3d26.8557017!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399be37fb857a469%3A0x7cb172f120fe6cbe!2sVision%20Vidya%20IAS!5e0!3m2!1sen!2sin!4v1697261219913!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>
</div>
</div>
</div>

