<!-- <div class="service-details-area pt-100 pb-70">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-9">
    <div class="service-details-item">
    <div class="service-details-img">
    <div class="service-details-slider owl-theme owl-carousel owl-loaded owl-drag">
    
    
    
    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1422px, 0px, 0px); transition: all 1s ease 0s; width: 4977px;"><div class="owl-item cloned" style="width: 696px; margin-right: 15px;"><div class="service-details-slider-item">
    <img src="img/service-details2.jpg" alt="Service">
    </div></div><div class="owl-item cloned" style="width: 696px; margin-right: 15px;"><div class="service-details-slider-item">
    <img src="img/service-details3.jpg" alt="Service">
    </div></div><div class="owl-item active" style="width: 696px; margin-right: 15px;"><div class="service-details-slider-item">
    <img src="img/service-details.jpg" alt="Service">
    </div></div><div class="owl-item" style="width: 696px; margin-right: 15px;"><div class="service-details-slider-item">
    <img src="img/service-details2.jpg" alt="Service">
    </div></div><div class="owl-item" style="width: 696px; margin-right: 15px;"><div class="service-details-slider-item">
    <img src="img/service-details3.jpg" alt="Service">
    </div></div><div class="owl-item cloned" style="width: 696px; margin-right: 15px;"><div class="service-details-slider-item">
    <img src="img/service-details.jpg" alt="Service">
    </div></div><div class="owl-item cloned" style="width: 696px; margin-right: 15px;"><div class="service-details-slider-item">
    <img src="img/service-details2.jpg" alt="Service">
    </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
    <h3>Tyre Service</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
    </div>
    </div>
    </div>
    <div class="col-lg-3">
    <div class="service-details-item">
    <div class="service-details-left">
    <h3>Service List</h3>
    <ul>
    <li>
    <i class="bx bx-chevron-right"></i>
    <a href="/service">Tyre Service</a>
    </li>
    <li>
    <i class="bx bx-chevron-right"></i>
    <a href="/service">Engine Service</a>
    </li>
    <li>
    <i class="bx bx-chevron-right"></i>
    <a href="/service">Tuning Service</a>
    </li>
    <li>
    <i class="bx bx-chevron-right"></i>
    <a href="/service">Motor Service</a>
    </li>
    <li>
    <i class="bx bx-chevron-right"></i>
    <a href="/service">System Service</a>
    </li>
    <li>
    <i class="bx bx-chevron-right"></i>
    <a href="/service">Washing Service</a>
    </li>
    </ul>
    </div>
    <div class="service-details-left service-details-contact">
    <h3>Contact Us</h3>
    <ul>
    <li>
    <i class="bx bx-location-plus"></i>
    28/A Street, New York City
    </li>
    <li>
    <i class="bx bx-phone-call"></i>
    <a href="tel:+880123456789">+88 0123 456 789</a>
    </li>
    <li>
    <i class="bx bx-mail-send"></i>
    <a href="mailto:info@Weston Motors.com">info@Weston Motors.com</a>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div> -->