<div class="address-area">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-sm-6 col-lg-4">
    <div class="address-item">
    <i class="bx bxs-paper-plane"></i>
    <h3>Location</h3>
    <span>Badshah Nagar, Under Metro Station ,Lucknow</span>
    </div>
    </div>
    <div class="col-sm-6 col-lg-4">
    <div class="address-item">
    <i class="bx bxs-phone-call"></i>
    <h3>Call Us</h3>
    <a href="tel:+0755543332322">+07 5554 3332 322</a>
    <a href="tel:+0525543452892">+05 2554 3452 892</a>
    </div>
    </div>
    <div class="col-sm-6   col-lg-4">
    <div class="address-item address-one">
    <i class="bx bxs-time-five"></i>
    <h3>Schedule</h3>
    <span>Monday to Sunday</span>
    <span>10:00 AM to 6.00 PM</span>
    </div>
    </div>
    </div>
    </div>
    </div>