<section class="pricing-area pt-100 pb-70">
  <div class="container">
    <div class="section-title">
      <span class="sub-title">Package</span>
      <h2>Our Package Plan</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-6 col-lg-4">
        <div class="pricing-item">
          <div class="pricing-top">
            <h3>Home Service</h3>
            <p>
              <span class="dollar">@</span>499<span class="month">/-12 months</span>
            </p>
          </div>
          <div class="pricing-middle">
            <i class="bx bx-rocket"></i>
          </div>
          <div class="pricing-bottom">
            <ul>
              <li>
                <i class="bx bx-check-circle"></i>
                problem with car breakdown & Scanning
              </li>
              <!-- <li>
                <i class="bx bx-check-circle"></i>
                200 ChatBot Triggers
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Quick Responses
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Google Analytics
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Messenger Integration
              </li>
              <li>
                <i class="bx bx-x"></i>
                Email Integration
              </li>
              <li>
                <i class="bx bx-x"></i>
                Mobile + Desktop Apps
              </li>
              <li>
                <i class="bx bx-x"></i>
                Drag &amp; Drop Widgets
              </li> -->
            </ul>
            <div class="cmn-btn">
              <a class="banner-btn-left" href="/contact-us"> Get Your Service </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="pricing-item">
          <div class="pricing-top">
            <h3>Regular AC Service</h3>
            <p>
              <span class="dollar">@</span>2,899<span class="month">/-12 months</span>
            </p>
          </div>
          <div class="pricing-middle">
            <i class="bx bx-rocket"></i>
          </div>
          <div class="pricing-bottom">
            <ul>
              <li>
                <i class="bx bx-check-circle"></i>
                AC Inspection
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                AC Gas Top-up
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                AC Disinfectant
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Condensar Clean With
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Chemical Comp. Oil Top-up
              </li>
              <!-- <li>
                <i class="bx bx-check-circle"></i>
                Email Integration
              </li>
              <li>
                <i class="bx bx-x"></i>
                Mobile + Desktop Apps
              </li>
              <li>
                <i class="bx bx-x"></i>
                Drag &amp; Drop Widgets
              </li> -->
            </ul>
            <div class="cmn-btn">
              <a class="banner-btn-left" href="/contact-us"> Get Your Service </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="pricing-item">
          <div class="pricing-top">
            <h3>Regular AMC Services</h3>
            <p>
              <span class="dollar">@</span>1,999<span class="month">/- months (for Petrol vehicle)</span>
            </p><br>
            <p>
              <span class="dollar">@</span>2,999<span class="month">/- months (for Diesle vehicle)</span>
            </p>
          </div>
          <div class="pricing-middle">
            <i class="bx bx-rocket"></i>
          </div>
          <div class="pricing-bottom">
            <ul>
              <li>
                <i class="bx bx-check-circle"></i>
                First Service Labour Free (Material paid)
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                50% Discount on Second Service
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                70% Discount on Third Service
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                One Time Car Wash Free
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Free Health checkup within 3 months
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                20% Discount on Value Added Service
              </li>
              <!-- <li>
                <i class="bx bx-check-circle"></i>
                Mobile + Desktop Apps
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Drag &amp; Drop Widgets
              </li> -->
            </ul>
            <div class="cmn-btn">
              <a class="banner-btn-left" href="/contact-us"> Get Your Service </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="pricing-item">
          <div class="pricing-top">
            <h3>Luxurious Service</h3>
            <p>
              <span class="dollar">@</span>6,999<span class="month">/-15 months</span>
            </p>
          </div>
          <div class="pricing-middle">
            <i class="bx bx-rocket"></i>
          </div>
          <div class="pricing-bottom">
            <ul>
              <li>
                <i class="bx bx-check-circle"></i>
                AC Inspection (Two Times)
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Engine Scanning Free
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Break Down Service Free
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Upto 20% Discount on all mechanical labour work
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Home Service Available
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Washing Free (Three Times)
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Interior Cleaning Free (One time)
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Rubbing &amp Polish Free
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Wax Polish Free (one time)
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                500/- Amazon Voucher Free
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                4 ltr. Fuel Free on Break Down (one time) *if required
              </li>
            </ul>
            <div class="cmn-btn">
              <a class="banner-btn-left" href="/contact-us"> Get Your Service </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="pricing-item">
          <div class="pricing-top">
            <h3>Premium Service For Your Car</h3>
            <p>
              <span class="dollar">@</span>13,999<span class="month">/-15 months</span>
            </p>
          </div>
          <div class="pricing-middle">
            <i class="bx bx-rocket"></i>
          </div>
          <div class="pricing-bottom">
            <ul>
              <li>
                <i class="bx bx-check-circle"></i>
                Two Time Basic Service with All Service Mechanical (O/f, A/F, A/C Filled, Engine Oil, Coolent)
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Two Time Interior Cleaning Free
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Two Time Rubbing Polish Free
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Two Time Car Wash Free
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Two Time any Mechanical Labour Work (Suspension Clutch) 20% Discount
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                AC Work Labour(20% Discount)
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Home Service Free
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Break Down Service Free (24*7)
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Jump Start Free
              </li>
            </ul>
            <div class="cmn-btn">
              <a class="banner-btn-left" href="/contact-us"> Get Your Service </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="pricing-item">
          <div class="pricing-top">
            <h3>Door Step Service</h3>
            <h2>BASIC</h2>
            <p>
              <span class="dollar">@</span>2,899<span class="month">/-15 months</span>
            </p>
          </div>
          <div class="pricing-middle">
            <i class="bx bx-rocket"></i>
          </div>
          <div class="pricing-bottom">
            <ul>
              <li>
                <i class="bx bx-check-circle"></i>
                Engiine Oil
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Oil Filter
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Coolant Top-up
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                A/F Cleaning
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Spark Plug Inspection
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Washing Free
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Health Checkup Free
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                10% Discount on Interior Cleaning
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                10% Discount on Mechanical Work
              </li>
            </ul>
            <div class="cmn-btn">
              <a class="banner-btn-left" href="/contact-us"> Get Your Service </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="pricing-item">
          <div class="pricing-top">
            <h3>Door Step Service Plan</h3>
            <h2> STANDARD </h2>
            <p>
              <span class="dollar">@</span>3,999<span class="month">/-15 months</span>
            </p>
          </div>
          <div class="pricing-middle">
            <i class="bx bx-rocket"></i>
          </div>
          <div class="pricing-bottom">
            <ul>
              <li>
                <i class="bx bx-check-circle"></i>
                Engine Oil
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Oil Filter
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                A/F Cleaning
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                All fitting Inspection
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Coolant &amp B-Fluid top-up
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Spark Plug
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Washing Free
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Health Checkup Free
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                15% Discount on Interior Cleaning
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                15% Discount on Mechanical Work
              </li>
            </ul>
            <div class="cmn-btn">
              <a class="banner-btn-left" href="/contact-us"> Get Your Service </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="pricing-item">
          <div class="pricing-top">
            <h3>Door Step Service Plan</h3>
            <h2> COMPREHENSIVE </h2>
            <p>
              <span class="dollar">@</span>4,999<span class="month">/-15 months</span>
            </p>
          </div>
          <div class="pricing-middle">
            <i class="bx bx-rocket"></i>
          </div>
          <div class="pricing-bottom">
            <ul>
              <li>
                <i class="bx bx-check-circle"></i>
                Engien Oil
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                A/F &amp Oil Filter
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Coolant Top-up
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Spark Plug Cleaning
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Washing Free
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Health Checkup Free
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                20% Discount on Interior Cleaning
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                20% Discount on Mechanical Cleaning
              </li>
              <h6>For Santro, Swift Alto &amp All Types Of Small Vehicles</h6>
            </ul>
            <div class="cmn-btn">
              <a class="banner-btn-left" href="/contact-us"> Get Your Service </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="pricing-item">
          <div class="pricing-top">
            <h3>Road Trip Inspection</h3>
            <p>
              <span class="dollar">@</span>2,999<span class="month">/-15 months </span>
            </p>
          </div>
          <div class="pricing-middle">
            <i class="bx bx-rocket"></i>
          </div>
          <div class="pricing-bottom">
            <ul>
              <li>
                <i class="bx bx-check-circle"></i>
                Complete Car Scanning
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Wheel Alignment Balancing
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Fluid Leakage Inspection
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                From Pick &amp Drop*
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Break Down Facility 24*7
              </li>
            </ul>
            <div class="cmn-btn">
              <a class="banner-btn-left" href="/contact-us"> Get Your Service </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
