<br/> <br/> <br/> <br/> 
<section class="engineer-area ptb-100">
    <div class="container">
        <div class="section-title">
        <span class="sub-title">REVIEWS</span>
        <h2>Look what our client says</h2>
        </div>
            <div class="engineer-slider owl-theme owl-carousel owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(-2377px, 0px, 0px); transition: all 3s ease 5s; width: 5706px;">
                        <div class="owl-item cloned" style="width: 222.75px; margin-right: 15px;">
                            
                            <a href="img/home-one/review/1.jpg"><img src="img/home-one/review/1.jpg" alt="Review"></a>
                            <!-- <div class="engineer-bottom">
                            <h3>Jac Jacson</h3>
                            <span>Head Engineer</span>
                            </div> -->
                            
                        </div>
                        <div class="owl-item cloned" style="width: 222.75px; margin-right: 15px;">
                            
                            <a href="img/home-one/review/2.jpg"><img src="img/home-one/review/2.jpg" alt="Engineer"></a>
                            <!-- <div class="engineer-bottom">
                            <h3>Micheal Shon</h3>
                            <span>Automobile Engineer</span>
                            </div> -->
                            
                        </div>
                        <div class="owl-item cloned" style="width: 222.75px; margin-right: 15px;">
                            
                            <a href="img/home-one/review/3.jpg"><img src="img/home-one/review/3.jpg" alt="Engineer"></a>
                            <!-- <div class="engineer-bottom"> -->
                            <!-- <h3>Jerry Hudson</h3>
                            <span>Machanical Engineer</span>
                            </div> -->
                            
                        </div>
                        <div class="owl-item cloned" style="width: 222.75px; margin-right: 15px;">
                            
                            <a href="img/home-one/review/4.jpg"><img src="img/home-one/review/4.jpg" alt="Engineer"></a>
                            <!-- <div class="engineer-bottom"> -->
                            <!-- <h3>Tom Henry</h3>
                            <span>System Engineer</span>
                            </div> -->
                            
                        </div>
                        <div class="owl-item cloned" style="width: 222.75px; margin-right: 15px;">
                            
                            <a href="img/home-one/review/2.jpg"><img src="img/home-one/review/2.jpg" alt="Engineer"></a>
                            <!-- <div class="engineer-bottom"> -->
                            <!-- <h3>Jac Jacson</h3>
                            <span>Head Engineer</span>
                            </div> -->
                            
                        </div>
                        <div class="owl-item cloned" style="width: 222.75px; margin-right: 15px;">
                            
                            <a href="img/home-one/review/3.jpg"><img src="img/home-one/review/3.jpg" alt="Engineer"></a>
                            <!-- <div class="engineer-bottom">
                            <h3>Micheal Shon</h3>
                            <span>Automobile Engineer</span>
                            </div> -->
                            <div class="owl-nav disabled">
                                <button type="button" role="presentation" class="owl-prev">
                                <span aria-label="Previous">‹</span>
                                </button>
                                <button type="button" role="presentation" class="owl-next">
                                    <span aria-label="Next">›</span>
                                </button>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>