<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="css/bootstrap.min.css">
  
  <link rel="stylesheet" href="css/meanmenu.css">
  
  <link rel="stylesheet" href="css/boxicons.min.css">
  
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  
  <link rel="stylesheet" href="css/magnific-popup.min.css">
  
  <link rel="stylesheet" href="css/animate.min.css">
  
  <link rel="stylesheet" href="css/style.css">
  
  <link rel="stylesheet" href="css/responsive.css">
  
  <link rel="stylesheet" href="css/theme-dark.css">
  <title>Weston Motors - Auto Servicing &amp; Car Repair HTML Template</title>
  <link rel="icon"  href="img/favicon.png">

  <!-- <style>
    /* Internal CSS  */ 
    .pricing-item {
        background-color: #198754 !important;
        /* padding: 30px 20px 25px; */
    }
    .subscribe-area form .form-control {
        border: 1px solid #198754 !important;
    }
    .cmn-btn a {
        background-color: #198754 !important;
    }
    .pricing-middle:after {
        background-color: #198754 !important;
    }
    .pricing-top {
        background-color: #198754 !important;
    }
    .sorting-menu ul li.mixitup-control-active {
        background-color: #198754 !important;
    }
    .feature-area .feature-content ul li i {
        background-color: #198754 !important;
    }
    .subscribe-area form .form-control:focus {
        border: 1px solid #198754 !important;
    }
    .copyright-area .copyright-item p a {
        color: #198754 !important;
    }
    .address-item i {
        color: #198754 !important;
    }
</style> -->

  </head>

