<section class="breadcrumb-area text-l banner-1">
<div class="text-block">
<div class="container">
<div class="row">
<div class="col-lg-5 v-center">
<div class="bread-inner">
<div class="bread-menu">
<ul>
<li><a href="index-2.html">Home</a></li>
<li><a href="#">About Us</a></li>
</ul>
</div>
<div class="bread-title">
<h2>About Vision Vidya IAS</h2>
<p class="pt20">Vision Vidya IAS is a centre of excellence for education and training. It is an institute for aspiring teenagers and young adults seeking admissions or wishing to be skilled and corporate-ready. Our aim is to help you excel and be the best. We offer result-driven, specialised short and long-term intensive courses. They are both offline and online, delivered by a dedicated and supportive team of academic and industry professionals. We have with us a team of highly qualified and experienced faculty. The ambiance at our centre is learner-friendly, clean, and safe with a Wi-Fi network and an abundance of positivity. </p>
<a href="#" class="btn-main bg-btn3 lnk mt30">Contact Us <i class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
</div>
</div>
</div>
<div class="col-lg-7 v-center">
<div class="img-design h-scl-">
<div class="imgac "> <img src="images/banner/office-view-2.jpg" alt="creative agnecy html template" class="ag-dg1 img-fluid h-scl-base"></div>
<div class="imgac h-scl-base"><img src="images/banner/office-view-1.jpg" alt="creative agnecy html template" class="ag-dg2 img-fluid "></div>
</div>
</div>
</div>
</div>
</div>
</section>