<section class="quality-area quality-area-four pt-100">
    <div class="quality-shape">
    <img src="img/car-shape.png" alt="Quality">
    </div>
    <div class="container-fluid p-0">
    <div class="row m-0 align-items-center">
    <div class="col-lg-6 p-0">
    <div class="quality-img">
    <img src="img/about-car.jpg" alt="Quality">
    <div class="video-wrap">
    <a href="https://www.youtube.com/watch?v=0lD9TG6RLRc" class="popup-youtube">
    <i class="bx bx-play"></i>
    </a>
    </div>
    </div>
    </div>
    <div class="col-lg-6 p-0">
    <div class="quality-content">
    <div class="section-title">
    <h2>Quality Work is Our First Priority </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
    </div>
    <div class="cmn-btn">
    <a class="banner-btn-left" href="/about">
    Read More
    </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    
    