<section class="dg-testinomial-section bg-gradient5 dark-bg4  pb80 pt80">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-8">
<div class="common-heading">
<h2 class="mb20">Meet our Team</h2>
<p class="mb30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
</div>
</div>
</div>
<div class="single-slide owl-carousel mt60 owl-loaded owl-drag">


<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1972px, 0px, 0px); transition: all 2s ease 0s; width: 6116px; padding-left: 100px; padding-right: 100px;"><div class="owl-item cloned" style="width: 976px; margin-right: 10px;"><div class="row justify-content-center">
<div class="col-lg-4 col-md-4">
<div class="image-block upset h-scl-">
<div class="image-div h-scl-base"><img src="images/team/deepti maam.jpg" alt="team" class="img-fluid"></div>
</div>
</div>
<div class="col-lg-5 col-md-5">
<div class="full-image-card mt0">
<div class="info-text-block">
<h3><a href="#">Deepti Mahrotra Ma'am</a></h3>
<p>Founder & CEO</p>
<div class="social-media-profile">
<a href="javascript:void(0)" target="blank"><i class="fab fa-facebook"></i></a>
<a href="javascript:void(0)" target="blank"><i class="fab fa-twitter"></i></a>
<a href="javascript:void(0)" target="blank"><i class="fab fa-instagram"></i></a>
<a href="javascript:void(0)" target="blank"><i class="fab fa-linkedin"></i></a>
<a href="javascript:void(0)" target="blank"><i class="fab fa-dribbble"></i></a>
</div>
</div>
<div class="otherinfo">
<p>" Psychology from Lucknow University 
9 years of teaching and research experience
20+ research paper presented in conference/seminars.
10+ research papers published in national and international journals
5 chapters published in renowned books.</p>
</div>
</div>
</div>
</div></div><div class="owl-item cloned" style="width: 976px; margin-right: 10px;"><div class="row justify-content-center">
<div class="col-lg-4 col-md-4">
<div class="image-block upset">
<div class="image-div"><a href="#"><img src="images/team/team-single.jpg" alt="team" class="img-fluid"></a></div>
</div>
</div>
<div class="col-lg-5 col-md-5">
<div class="full-image-card mt0">
<div class="info-text-block">
<h3><a href="#">Prabhash Bahadur 'Sir'</a></h3>
<p>Political Science</p>
<div class="social-media-profile">
<a href="javascript:void(0)" target="blank"><i class="fab fa-facebook"></i></a>
<a href="javascript:void(0)" target="blank"><i class="fab fa-twitter"></i></a>
<a href="javascript:void(0)" target="blank"><i class="fab fa-instagram"></i></a>
<a href="javascript:void(0)" target="blank"><i class="fab fa-linkedin"></i></a>
<a href="javascript:void(0)" target="blank"><i class="fab fa-dribbble"></i></a>
</div>
</div>
<div class="otherinfo">
<p>" Political Science from Delhi University 
LLB from Allahabad University 
7 years experience of individual mentorship 
Known for his student friendly and exam oriented approach.
Experties in Polity and International Relations.</p>
</div>
</div>
</div>
</div></div><div class="owl-item active" style="width: 976px; margin-right: 10px;"><div class="row justify-content-center">
<div class="col-lg-4 col-md-4">
<div class="image-block upset h-scl-">
<div class="image-div h-scl-base"><img src="images/team/team-single.jpg" alt="team" class="img-fluid"></div>
</div>
</div>
<div class="col-lg-5 col-md-5">
<div class="full-image-card mt0">
<div class="info-text-block">
<h3><a href="#">Smriti Gupta Ma'am</a></h3>
<p>Teacher</p>
<div class="social-media-profile">
<a href="javascript:void(0)" target="blank"><i class="fab fa-facebook"></i></a>
<a href="javascript:void(0)" target="blank"><i class="fab fa-twitter"></i></a>
<a href="javascript:void(0)" target="blank"><i class="fab fa-instagram"></i></a>
<a href="javascript:void(0)" target="blank"><i class="fab fa-linkedin"></i></a>
<a href="javascript:void(0)" target="blank"><i class="fab fa-dribbble"></i></a>
</div>
</div>
<div class="otherinfo">
<p>"Certified, trained, active listener  
6 years of experience 
Provided support to 200+ individuals for stress, anxiety, and grief related issues</p>
</div>
</div>
</div>
</div></div><div class="owl-item" style="width: 976px; margin-right: 10px;"><div class="row justify-content-center">
<div class="col-lg-4 col-md-4">
<div class="image-block upset">
<div class="image-div"><a href="#"><img src="images/team/team-single.jpg" alt="team" class="img-fluid"></a></div>
</div>
</div>
<div class="col-lg-5 col-md-5">
<div class="full-image-card mt0">
<div class="info-text-block">
<h3><a href="#">Anna Rexia</a></h3>
<p>Company CTO</p>
<div class="social-media-profile">
<a href="javascript:void(0)" target="blank"><i class="fab fa-facebook"></i></a>
<a href="javascript:void(0)" target="blank"><i class="fab fa-twitter"></i></a>
<a href="javascript:void(0)" target="blank"><i class="fab fa-instagram"></i></a>
<a href="javascript:void(0)" target="blank"><i class="fab fa-linkedin"></i></a>
<a href="javascript:void(0)" target="blank"><i class="fab fa-dribbble"></i></a>
</div>
</div>
<div class="otherinfo">
<p>"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
</div>
</div>
</div>
</div></div><div class="owl-item cloned" style="width: 976px; margin-right: 10px;"><div class="row justify-content-center">
<div class="col-lg-4 col-md-4">
<div class="image-block upset h-scl-">
<div class="image-div h-scl-base"><img src="images/team/team-single.jpg" alt="team" class="img-fluid"></div>
</div>
</div>
<div class="col-lg-5 col-md-5">
<div class="full-image-card mt0">
<div class="info-text-block">
<h3><a href="#">Anna Rexia</a></h3>
<p>Company CTO</p>
<div class="social-media-profile">
<a href="javascript:void(0)" target="blank"><i class="fab fa-facebook"></i></a>
<a href="javascript:void(0)" target="blank"><i class="fab fa-twitter"></i></a>
<a href="javascript:void(0)" target="blank"><i class="fab fa-instagram"></i></a>
<a href="javascript:void(0)" target="blank"><i class="fab fa-linkedin"></i></a>
<a href="javascript:void(0)" target="blank"><i class="fab fa-dribbble"></i></a>
</div>
</div>
<div class="otherinfo">
<p>"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
</div>
</div>
</div>
</div></div><div class="owl-item cloned" style="width: 976px; margin-right: 10px;"><div class="row justify-content-center">
<div class="col-lg-4 col-md-4">
<div class="image-block upset">
<div class="image-div"><a href="#"><img src="images/team/team-single.jpg" alt="team" class="img-fluid"></a></div>
</div>
</div>
<div class="col-lg-5 col-md-5">
<div class="full-image-card mt0">
<div class="info-text-block">
<h3><a href="#">Anna Rexia</a></h3>
<p>Company CTO</p>
<div class="social-media-profile">
<a href="javascript:void(0)" target="blank"><i class="fab fa-facebook"></i></a>
<a href="javascript:void(0)" target="blank"><i class="fab fa-twitter"></i></a>
<a href="javascript:void(0)" target="blank"><i class="fab fa-instagram"></i></a>
<a href="javascript:void(0)" target="blank"><i class="fab fa-linkedin"></i></a>
<a href="javascript:void(0)" target="blank"><i class="fab fa-dribbble"></i></a>
</div>
</div>
<div class="otherinfo">
<p>"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
</div>
</div>
</div>
</div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
<div class="row justify-content-center mt60">
<div class="container">
<div class="row">
<div class="col-lg-5 mt30 h-scl-">
<div class="img-ca2set h-scl-base"><img src="images/about/office-1.jpg" alt="companyname" class="img-fluid w-100"></div>
</div>
<div class="col-lg-7 mt30 h-scl-">
<div class="img-ca2set h-scl-base"><img src="images/about/office-2.jpg" alt="companyname" class="img-fluid w-100"></div>
</div>
<div class="col-lg-7 mt30 h-scl-">
<div class="img-ca2set h-scl-base"><img src="images/about/office-3.jpg" alt="companyname" class="img-fluid w-100"></div>
</div>
<div class="col-lg-5 mt30 h-scl-">
<div class="img-ca2set h-scl-base"><img src="images/about/office-4.jpg" alt="companyname" class="img-fluid w-100"></div>
</div>
</div>
</div>
</div>
</div>
</section>