<div class="page-title-area">
    <img src="img/home-one/footer-car.png" alt="Title">
    <div class="container">
    <div class="page-title-content">
    <h3 style="color:aliceblue;">Welcome to WESTERN MOTORS</h3>
    <ul>
    <li>
    <a href="/">About</a>
    </li><br/>
    <li>    
    <i class="bx bx-chevron-right"></i>
    </li>
    
			<h6 style="color: aliceblue;">The history behind weston motor</h6></div>
				</div>
			<h6 style="color: aliceblue; text-align:center;margin-left:20px;margin-right:20px">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</h6>		</div>
				</div>
				</div>
		<!-- <div class="elementor-element elementor-element-d2f1105 e-con-full e-flex e-con e-child" data-id="d2f1105" data-element_type="container">
				<div class="elementor-element elementor-element-51836ef elementor-widget elementor-widget-image" data-id="51836ef" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
			<style>/*! elementor - v3.22.0 - 17-06-2024 */
.elementor-widget-image{text-align:center}.elementor-widget-image a{display:inline-block}.elementor-widget-image a img[src$=".svg"]{width:48px}.elementor-widget-image img{vertical-align:middle;display:inline-block}</style>										<img fetchpriority="high" decoding="async" width="700" height="467" src="https://westonmotors.in/wp-content/uploads/2024/04/car-service.png" class="attachment-2048x2048 size-2048x2048 wp-image-5772" alt="" srcset="https://westonmotors.in/wp-content/uploads/2024/04/car-service.png 700w, https://westonmotors.in/wp-content/uploads/2024/04/car-service-300x200.png 300w, https://westonmotors.in/wp-content/uploads/2024/04/car-service-600x400.png 600w" sizes="(max-width: 700px) 100vw, 700px">													</div>
				</div>
				</div> -->
					</div></li>
    </ul>
    </div>
    </div>
    </div>