<section class="work-area pt-100 pb-70">
    <div class="container">
    <div class="section-title">
    <span class="sub-title">Our Gallery</span>
    <h2>Latest Works For Clients</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <!-- <div class="sorting-menu">
    <ul>
    <li class="filter active mixitup-control-active" data-filter="all">all</li>
    <li class="filter" data-filter=".tyre">wheels</li>
    <li class="filter" data-filter=".web">steering</li>
    <li class="filter" data-filter=".ui">brakes</li>
    <li class="filter" data-filter=".ux">suspention</li>
    <li class="filter" data-filter=".branding">tyre</li>
    </ul>
    </div> -->
    <div id="Container" class="row">
    <div class="col-sm-6 col-lg-4 mix web ui">
    <div class="work-item">
    <img src="img/home-one/work/1.jpg" alt="Work">
    <div class="cmn-btn">
    <a class="banner-btn-left" href="/service">
    Read More
    <i class="bx bx-right-arrow-alt"></i>
    </a>
    </div>
    </div>
    </div>
    <div class="col-sm-6 col-lg-4 mix tyre ux">
    <div class="work-item">
    <img src="img/home-one/work/2.jpg" alt="Work">
    <div class="cmn-btn">
    <a class="banner-btn-left" href="/service">
    Read More
    <i class="bx bx-right-arrow-alt"></i>
    </a>
    </div>
    </div>
    </div>
    <div class="col-sm-6 col-lg-4 mix ui branding">
    <div class="work-item">
    <img src="img/home-one/work/3.jpg" alt="Work">
    <div class="cmn-btn">
    <a class="banner-btn-left" href="/service">
    Read More
    <i class="bx bx-right-arrow-alt"></i>
    </a>
    </div>
    </div>
    </div>
    <div class="col-sm-6 col-lg-4 mix ux tyre">
    <div class="work-item">
    <img src="img/home-one/work/4.jpg" alt="Work">
    <div class="cmn-btn">
    <a class="banner-btn-left" href="/service">
    Read More
    <i class="bx bx-right-arrow-alt"></i>
    </a>
    </div>
    </div>
    </div>
    <!-- <div class="col-sm-6 col-lg-6 mix branding ui">
    <div class="work-item">
    <img src="img/home-one/work/5.mp4" alt="Work">
    <div class="cmn-btn">
    <a class="banner-btn-left" href="/service">
    Read More
    <i class="bx bx-right-arrow-alt"></i>
    </a>
    </div>
    </div>
    </div>
    <div class="col-sm-6 col-lg-3 mix tyre web">
    <div class="work-item">
    <img src="img/home-one/work/6.mp4" alt="Work">
    <div class="cmn-btn">
    <a class="banner-btn-left" href="/service">
    Read More
    <i class="bx bx-right-arrow-alt"></i>
    </a>
    </div>
    </div>
    </div>
    </div>
    </div> -->
    </section>